<div class="register-container">
    <div class="register-form">
      <h1>Welcome to monday.com</h1>
      <p>Get started - it's free. No credit card needed.</p>
      
      <button class="google-button">
        <img src="assets/google-logo.png" alt="Google logo">
        Continue with Google
      </button>
      
      <div class="separator">Or</div>
      
      <input type="email" placeholder="name@company.com" class="email-input">
      
      <button class="continue-button">Continue</button>
      
      <p class="terms">By proceeding, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
      
      <p class="login-link">Already have an account? <a href="#">Log in</a></p>
    </div>
    
    <div class="illustration1">
      
      <img src="/src/assets/img2.png" alt="img">
    </div>
  </div>
  