<nav class="navbar navbar-dark bg-dark justify-content-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Sa
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
      <li>
        <div class="dropdown-item-text">
          <strong>{{ userName }}</strong><br>
          <small>{{ userEmail }}</small>
        </div>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#" (click)="signOut()">Sign Out</a></li>
    </ul>
  </div>
</nav>



  <div class="dashboard-body">
    <div class="sidebar">
      <nav>
        <ul>
          <li>
            <a routerLink="/my-projects">My Projects</a>
          </li>
          <li>
            <a routerLink="/create-project">Create Project</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

