.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
  }
}


.dropdown-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}
