/* home-page.component.css */
.home-page {
    height: 100vh;
  }
  
  .text-content {
    text-align: center;
    padding: 20px;
  }
  
  .text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .text-content .btn-primary {
    margin-top: 10px;
  }
  
  .img-fluid {
    object-fit: cover; /* Ensures the image covers the space */
    height: 100%;
  }
  